<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="description" content="Advanced calculator for SC">
<meta name="keywords" content="calculator, ledger, pay">
<meta name="author" content="CJ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script-->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<!--script src="./script.js"></script-->
<!--script src="./appml.js"></script-->


<body>
  <div class="container-fluid">
    <h1>Group</h1>
  </div>
  <div class="container-fluid" id="table">
    <div>
      <p>System clock time, user time-based Star Citizen advanced calculator. Uses your system clock, rather than JS tick for user timing.</p>
    </div>
    <div class="row">
        <div class="col-4">
            Quick transfer:
            <br>
            Starting amount: <input v-model="quick.amount" v-on:input="quickTransfer()" type="number">
            <br>
            Amount of Players<input v-model="quick.divider" v-on:input="quickTransfer()" type="number">
            <br>
            <span>Send: | {{ quick.result }} | per person</span>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4"> <button onclick="controlAll(1)">Start All</button>
        <button onclick="controlAll(0)">Stop All</button>
        <button onclick="controlAll(2)">Reset</button>
        Input Money Sample:<input v-model="session.amount" type="number" placeholder="100000" value="100000">
      </div>
      <div class="col-4"></div>
      <div class="col-4">

      </div>
    </div>
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 20px;" scope="col">x</th>
          <th style="width: 20px;" scope="col">Play/Pause</th>
          <th>Name</th>
          <th>Time</th>
          <th>Dividend</th>
          <th>Money</th>
          <th>Fees</th>
          <th>Deduction</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(player, index) in session.players">
          <td class="text-center"><i class="bi bi-archive" v-on:click="removeUser(index)" style="cursor: pointer;"></i>
          </td>
          <td class="text-center"><i v-on:click="stateControl(player.active, index)"
              v-bind:class="classControl(player.active)" style="cursor: pointer;"></i></td>
          <td>{{ player.name }}</td>
          <td>{{ player.display.timer}}</td>
          <td>{{ player.dividend }}</td>
          <td>{{ player.money }}</td>
          <td>{{ player.fees }}%</td>
          <td>{{ player.deductions }}</td>
          <td>{{ player.total }}</td>
        </tr>
        <tr>
          <td class="text-center"><i v-on:click="addUser" class="bi bi-plus" style="cursor:pointer;"></i></td>
          <td class="text-center"></td>
          <td><input v-on:keyup.enter="addUser" id="addPlayer" v-model="player.name" type="text" placeholder="John_Doe" autofocus></td>
          <td><input v-model="player.time" type="number" placeholder="0" disabled></td>
          <td><input v-model="player.money" type="number" placeholder="0" disabled></td>
          <td><input v-model="player.fees" type="number" placeholder="0" disabled></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ session.amount }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <i class="bi bi-pause"></i>

  </div>

  <!--##############################################################################################################-->
  <script>
    session = {
      amount: 100000,
      count: 0,
      time: 0,
      fee: 0.5,
      players: [{
        name: "John Doe",
        money: 0,
        group: 0,
        counter: 0,
        active: false,
        starter: null,
        dividend: 0,
        fees: [],
        log: [],
        money: 0,
        deductions: 0,
        display: {
          timer: "",
          money: "",
          deductions: "",
          fees: "",
          total: ""
        },
      },
      {
        name: "Jane Doe",
        money: 0,
        group: 0,
        counter: 0,
        active: true,
        starter: null,
        dividend: 0,
        fees: [],
        log: [],
        money: 0,
        deductions: 0,
        display: {
          timer: "",
          money: "",
          deductions: "",
          fees: "",
          total: ""
        },
      }]
    }
    let player = {
      name: "",
      money: 0,
      group: 0,
      counter: 0,
      active: true,
      starter: null,
      dividend: 0,
      fees: [],
      log: [],
      money: 0,
      deductions: 0,
      display: {
        timer: "",
        money: "",
        deductions: "",
        fees: "",
        total: ""
      },
    };
    let quick = {
      amount: 0,
      result: 0,
      divider: 1,
    }
    let isTrue = true;
    let control = 'Start';
    var app = new Vue({
      el: '#table',
      data: {
        player: player,
        session: session,
        control: control,
        error: '',
        quick: quick
      },
      methods: {
        stateControl: function (state, index) {
          if (state === false) {
            console.log(state);
            session.players[index].active = true;
          } else if (state === true) {
            console.log(state)
            session.players[index].active = false;
          } else {
            console.log(state)
            session.players[index].active = false;
          }
          session.players[index].starter = null;
        },
        quickTransfer: function () {
          let x = Math.floor(quick.amount / quick.divider * (1 - session.fee/100))
          quick.result = new Intl.NumberFormat().format(x)
        },
        addUser: function () {
          pos = session.players.map(function (e) { return e.name; }).indexOf(player.name);
          if (pos === -1 && player.name !== "" && player.name !== null) {
            session.players.push({
              name: player.name,
              money: 0,
              group: 0,
              counter: 0,
              active: true,
              starter: null,
              dividend: 0,
              fees: .5,
              log: [],
              money: 0,
              deductions: 0,
              display: {
                timer: "",
                money: "",
                deductions: "",
                fees: "",
                total: ""
              },
            })
          } else {
            error = 'error occured'
          }
          player.name = ""
          document.getElementById("addPlayer").focus();
        },
        removeUser: function (player) {
          session.players.splice(player, 1)
        },
        classControl: function (state) {
          if (state === true) {
            return 'bi-pause'
          } else {
            return 'bi-play'
          }
        }
      },
      computed: {
      }
    });
  </script>
  <script>
    //initial
    session.players.forEach(player => {
      player.fees = session.fee;
    });
    //sync counter
    let hours, min, sec;
    let counter = setInterval(() => {
      let now = Math.floor(Date.now() / 1000)
      session.players.forEach(player => {
        if (player.active === true) {
          if (player.starter === null) {
            player.starter = now - player.counter
            
          }
          player.counter = now - player.starter;
          sec = player.counter % 60;
          min = Math.floor(player.counter / 60) % 60;
          hours = Math.floor(player.counter / 60 / 60) % 60;
          let display = {
            sec: sec.toLocaleString(undefined, { minimumIntegerDigits: 2 }),
            min: min.toLocaleString(undefined, { minimumIntegerDigits: 2 }),
            hours: hours.toLocaleString(undefined, { minimumIntegerDigits: 2 })
          }
          player.display.timer = `${display.hours}:${display.min}:${display.sec}`
        } else if (player.active === false) {
          player.starter = null
        } else if (player.active === null) {
          player.starter = null
          player.counter = 0
          player.display.timer = '00:00:00'
          session.time = 0
        }
      });
    }, 100)

    //Give player's a fair cut based on activity
    let dividend = setInterval(() => {
      let cnt = session.players.length;
      session.count = session.players.length;
      let x = 0
      let i = 0
      session.players.forEach(player => {
        if (session.time < player.counter) {
          session.time = player.counter;
        };
        x += player.counter;
      });
      session.players.forEach(player => {
        let y = player.counter / x
        let z = session.amount * y
        let a = z * (1 - (session.fee / 100))
        player.dividend = (Math.floor(y * 10000) / 100) + "%"
        player.money = new Intl.NumberFormat().format(Math.floor(z))
        player.total = new Intl.NumberFormat().format(Math.floor(a))
        player.deductions = new Intl.NumberFormat().format(Math.floor(a - z))
      });
    }, 10)
    function controlAll(stage) {
      session.players.forEach(player => {
        if (stage === 0) {
          player.active = false
        } else if (stage === 1) {
          player.active = true
        } else if (stage === 2) {
          player.active = null
        }
      });
    }
  </script>
</body>

</html>
